---
// src/pages/index.astro

import BaseLayout from "../layouts/BaseLayout.astro";
import Card from "../components/Card.astro";
---

<!-- profile2.webp you can remove | Photo <a href="https://unsplash.com/es/@charlesdeluvio?utm_content=creditCopyText&utm_medium=referral&utm_source=unsplash">charlesdeluvio</a> en <a href="https://unsplash.com/es/fotos/hombre-con-gorro-negro-kVg2DQTAK7c?utm_content=creditCopyText&utm_medium=referral&utm_source=unsplash">Unsplash</a>
   -->

<!-- You can replace the card's data with your own here. -->
<BaseLayout title="Personal Card Portfolio Astro" description="Meta description. Here goes your page description. Provide a clear and concise summary of the content.">
	<Card
	  name="Bhaskar Vivek Agarwal"
	  position="SDE"
	  aboutMe="My name is Bhaskar, a passionate computer science student at BML Munjal University, graduating in 2025. I have hands-on experience in natural language processing and deep learning, complemented by my internship on Azure Databricks at Sabudh Foundation. Currently, I'm enhancing my skills in Java, React.js, and data structures and algorithms while working with Flutter for Android development. With a strong foundation in both front-end and back-end technologies, I aim to make impactful contributions in the tech industry."
	  linkedin="https://www.linkedin.com/in/bhaskar-vivek-agarwal-482799224/"
	  github="https://github.com/BhaskarBMU"
	  cvLink="files/Bhaskar_Resume_Off-Campus.pdf"
	  profileImage="/images/profile2.webp"
	/>
</BaseLayout>

